%p
  Hallo #{@user.name}!
%p
  Dein Account ist jetzt bestätigt und freigeschaltet.
  %br
  Du kannst jetzt einem Spiel beitreten, indem du dich #{link_to "hier", log_in_url} einloggst.
%p
  Sobald das Spiel beginnt, erhältst du eine Erinnerungsmail - dann kannst du auf deiner Seite sehen, wer dein Mordauftrag ist.
  %br
  Hast du Fragen zum Spielablauf oder zur Seite, kannst du gerne jederzeit an #{@support_mail} eine Mail an uns schreiben.
%p
  Viel Spaß - Mögen die Spiele beginnen!
  %br
  das Epic Mörderspiel XXL Team