%p
  Hallo #{@user.first_name}!
%p
  Ein neues Semester beginnt! 
  %br
  Wir wünschen dir weiter viel Erfolg und Spaß.
  %br
  Auch das Epic Mörderspiel geht weiter, deshalb bitten wir dich, deine Daten bezüglich Studiengang und Semester zu aktualisieren.
  %br
  Klicke dazu auf den folgenden Link und logge dich ein: #{link_to "Login", log_in_url}
%p
  Viel Spaß,
  %br
  das Epic Mörderspiel XXL Team