%p
  Hallo #{@user.first_name}!
%p
  Hier ist das neue Passwort, das du angefordert hast:
  %strong= @password
  %br
  Du kannst dich mit diesem Passwort ab sofort wieder auf der #{link_to "Epic Mörderspiel Seite", log_in_url} anmelden.
%p
  Viel Spaß,
  %br
  das Epic Mörderspiel XXL Team