%h1 Über uns
%p
  Hinter dem Team um das EPIC MÖRDERSPIEL XXL stecken drei Lübecker Studenten:
  Die Informatikstudenten Max Bannach und Tobias Mende sowie der MML-Student Albert Piek.
%p
  Ich hatte zum ersten Mal die Idee ein solches Großspiel zu planen, als ein Bekannter von einem ähnlichen Spiel erzählte, das er in seinem Freundeskreis gespielt hatte. Nach dem Besuch der Konferenz der deutschsprachigen Mathematik-Fachschaften (KoMa) war klar, welches Spiel es sein sollte: Das Mörderspiel, das auf der KoMa tradionell gespielt wird. Doch das Ganze tatsächlich zu realisieren, davon war die Vorstellung noch weit entfernt.
%p
  Die Idee das Spiel tatsächlich zu planen kam, wie die meisten guten Ideen, zusammen mit Tobias bei einem gemütlichen Kneipenabend.
  Das Mörderspiel nicht nur unter Freunden zu spielen, sondern auf dem ganzen Campus! Das wär's! Dutzende lustige Situationen malten wir uns aus, die da entstehen könnten. Der Reiz, neue, total unbekannte Personen kennenzulernen, um sie ermorden zu können, soll dem Spiel einen zusätzlichen Kick geben.
  Wie sollte das ganze organisiert werden? Normalerweise kennt man sich und ist am selben Ort, und kleine Zettelchen mit Zielpersonen werden weitergegeben. In unseren Dimensionen war aber schnell klar, dass das so nicht klappen würde. Über E-Mails regeln? Zu große Spam-Flut. Praktischer wäre ein Online-Tool, bei dem man neue Opfer zugewiesen kriegt und deren Infos erhält. So wurde den ganzen Abend lang weiter geplant. 
  Aber, ebenfalls wie bei den meisten Stammtisch-Ideen, kommt von Freunden doch nur die Reaktion: "Das zieht ihr doch eh nicht durch!" - Das sorgte für eine perfeke Motivation, es nicht nur beim Gerede zu belassen.
  Die Stärken waren klar: Tobi übernimmt als Informatiker das Programmieren mit Ruby on Rails, während ich das Design erstelle. 
  Nach einigen Wochen war es dann soweit: Die erste Programmiersession stand an. Obwohl wir gut und kreativ dabei waren, kam doch schnell die Ernüchterung über die ungeahnten Mengen an Aufwand. Die ganzen Zusatzfunktionen, die wir uns munter ausgedacht haben, wurden ersteinmal beiseite gelegt. Doch auch die wichtigsten Hauptfeatures des Spiels hatten einen so großen Umfang, dass wir das alleine in den Semesterferien nicht schaffen würden. Also holten wir uns noch Max ins Team als zweiten Programmierer. Zwar musste er die Programmiersprache noch lernen, war aber sehr motiviert. Daher konnte er Tobi schnell unterstützen.
%p
  In den nächsten Power-Sessions wurden sehr viel geschafft, sodass wir Mitte Oktober 2012 die erste Beta-Version unter Freunden testen konnten. Nachdem auch die entdeckten Fehler ausgemerzt wurden, geht nun das Spiel an die Öffentlichkeit. Zunächst ist ein großes Spiel geplant. Sollte das Spiel gut ankommen, sind die programmiertechnischen Möglichkeiten gegeben, das System zu erweitern und mehrere neue Spiele zeitgleich zu starten.
%p
  Nun aber viel Spaß mit dem Spiel, wir hoffen es gefällt euch und sind über jede Kritik erfreut!
%p 
  Euer Albert vom
  %br
  Team EPIC MÖRDERSPIEL XXL