%p
  Hier kannst du deine E-Mail-Adresse eingeben um dein Passwort zurückzusetzen. Ein neues Passwort wird dir dann per E-Mail zugesendet.
  
=form_tag(reset_password_execute_path)
.form_row
  = label_tag "email", "E-Mail"
  .field= email_field_tag "email"
.form_submit= submit_tag "Passwort zurücksetzen"