%h1 Regelwerk
%h2 Einleitung
%p
  Das Murder Game ist ein Gesellschaftsspiel, welches am ehesten für größere Gruppen (ab 10 Personen) geeignet ist. Es ist als Langzeitspiel angesetzt, das nebenher gespielt wird. Daher wird es häufig auf Freizeiten, Seminaren oder im Gruppenurlaub gespielt.
  Jeder Teilnehmer erhält zu Beginn einen Mordauftrag. Sein Ziel ist es nun, diese Person zu ermorden. Das passiert, indem man der Zielperson einen beliebigen Gegenstand übergibt. Nimmt diese ihn an, gilt sie als ermordet. Der Mörder kann nun mit der Zielperson seines Opfers weitermachen. Das Spiel endet, sobald entweder nur noch ein Teilnehmer übrig ist, oder der vereinbarte Zeitraum endet.
%h2 Spielvorbereitung und -ablauf
%p
  Zu jedem Spiel gibt es mindestens einen Spielleiter. Dieser spielt nicht aktiv mit, sondern reguliert und kontrolliert den Spielablauf. Er hat eine Übersicht, wer wen zu ermorden hat. An ihn können sich die Teilnehmer bei Fragen wenden. Der Spielleiter eröffnet ein Spiel.
  Er setzt eine Frist für das Beitreten und minimale und maxilmale Teilnehmeranzahl fest. Darauf können sich die Teilnehmer eintragen und so dem Spiel beitreten.
  Sind alle Teilnehmer beigetreten und die Frist abgelaufen, beginnt das Spiel selbst. Jeder Teilnehmer erhält seinen Auftrag. Dieser enthält die Informationen über das Mordziel (Name, Bild, Studiengang) und hat ab diesem Zeitpunkt die Möglichkeit, seine Tat zu vollbringen.
  Ein Mord kann nur begangen werden, indem der Zielperson direkt ein beliebiger Gegenstand gereicht wird und dieser den annimmt. Das muss direkt geschehen, zuwerfen oder ähnliches zählen nicht.
  Sobald die Person diesen Gegenstand genommen hat, muss der Mörder ihm sagen, dass er nun tot ist.
  Der Mörder muss daraufhin auf der Seite des Spiels angeben, dass der Mord begangen wurde. Der Ermordete erhält eine Hinweismail und kann 48 Stunden widerrufen, falls es zu Unstimmigkeiten gekommen ist. Wird der Mord bestätigt oder läuft die Frist ab, geht es weiter. Dann bekommt der Mörder den Auftrag des Ermordeten und kann seine Mordserie fortsetzen.
  Die Aufträge sind dabei in einem großen "Kreis" zugeordnet, sodass nach jedem Mord auch ein neuer Auftrag folgt, bis man selbst übrig bleibt.
  
%h2 Spielende
%p
  %strong Das Spiel endet, falls...
  %ul
    %li ... nur noch ein Teilnehmer übrig bleibt. Dieser ist dann der Gewinner.
    %li ... der vom Spielleiter festgesetzte Zeitraum des Spiels vorbei ist. Das Ranking in der Tabelle entscheidet dann über den Gewinner.
    %li ... eine gewisse Zeit über kein Mord geschehen ist, und der Spielleiter entsprechende Optionen aktiviert hat. Auch hier entscheidet die Tabelle über den Gewinner.
