%p 
  Hallo #{@assignment.user.first_name}!
%p
  Du hast dich seit zwei Wochen nicht mehr eingeloggt, nimmst aber an einem #{link_to "aktiven Spiel", game_url(@assignment.game)} teil.
  %br
  Damit der Spielverlauf möglichst flüssig bleibt, bitten wir dich, dich aus dem #{link_to "Spiel", game_url(@assignment.game)} auszutragen, falls du nicht mehr mitspielen willst.
  %br
  Bist du weiterhin dabei, logge dich innerhalb von einer Woche wieder ein. Ansonsten wirst du vom System automatisch aus dem Spiel ausgetragen.
%p
  Viel Spaß weiterhin,
  %br
  das Epic Mörderspiel XXL Team