// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_image {
  float: left;
  width: 300px;
}

.user_info {
  float:left;
  width: 400px;
  margin-left: 10px;
  
  table tr {
    
      :first-child {
      font-weight:bold;
      padding-right:10px;
    }
  }
}

#user_activities {
  clear:both;
  
  .section {
    width: 33%;
    float: left;
  }
  
  #current_games {
    
  }
  
  #finished_games {
    
  }
}

.two_column {
  margin-left: 100px;
  width: 100%;
  clear:both;
  margin-bottom: 10px;
  .alternate {
    display:block;
    margin-top: 0px;
    width: 40%;
    height:100%;
    margin-bottom: 10px;
    float:left;
    label {
      text-align: center!important;
      width: 316px!important;
      padding-right: 0px!important;
    }
    
    .form_submit {
      margin-left: 0px!important;
    }
  }
}